body {
    margin: 0%;
    background-color: antiquewhite;
}

h1 {
    text-align: center;
    font-weight: bolder;
    color: navy;
    background-color: antiquewhite;
}

.startBtn {
    text-align: center;    
    color: black;
    display: inline-block;
    border-radius: 4px;
    margin: 10px;  
}

.startBtn:active {      
    background-color: navy;      
    color: white;
}



