body {
    margin: 0%;
    background-color: antiquewhite;
}

h1 {
    text-align: center;
    font-weight: bolder;
    color: navy;
    background-color: antiquewhite;
}

.startBtn {
    text-align: center;    
    color: white;   
}

.startBtn:hover {      
    background-color: navy;      
    color: white;
}



